@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 19 69% 98%;
    --foreground: 19 58% 2%;
    --muted: 139 37% 92%;
    --muted-foreground: 139 8% 35%;
    --popover: 19 69% 97%;
    --popover-foreground: 19 58% 1%;
    --card: 19 69% 97%;
    --card-foreground: 19 58% 1%;
    --border: 19 4% 92%;
    --input: 19 4% 92%;
    --primary: 19 93% 61%;
    --primary-foreground: 19 93% 1%;
    --secondary: 139 93% 61%;
    --secondary-foreground: 139 93% 1%;
    --accent: 259 93% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 17 86% 39%;
    --destructive-foreground: 0 0% 100%;
    --ring: 19 93% 61%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 19 55% 2%;
    --foreground: 19 33% 98%;
    --muted: 139 37% 8%;
    --muted-foreground: 139 8% 65%;
    --popover: 19 55% 3%;
    --popover-foreground: 19 33% 99%;
    --card: 19 55% 3%;
    --card-foreground: 19 33% 99%;
    --border: 19 4% 13%;
    --input: 19 4% 13%;
    --primary: 19 93% 61%;
    --primary-foreground: 19 93% 1%;
    --secondary: 139 93% 61%;
    --secondary-foreground: 139 93% 1%;
    --accent: 259 93% 61%;
    --accent-foreground: 0 0% 100%;
    --destructive: 17 86% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 19 93% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
